## 1. List

List is a data type where you can store multiple element under 1 name.

<h3>Properties of list</h3>
<h4>Mutable:</h4>The elements of the list can be modified. We can add or remove items to the list after it has been created.
<h4>Ordered:</h4>The items in the lists are ordered. Each item has a unique index value. The new items will be added to the end of the list.
<h4>Heterogenous:</h4>The list can contain different kinds of elements i.e; they can contain elements of string, integer, boolean, or any type
<h4>Duplicates:</h4>The list can contain duplicates i.e., lists can have two items with the same values.

- Lists are dynamic array
- can be nested 
- items can be accessed
- can contain any type of objects in python

### Array vs List

- Array is of fixed size  while list are dynamic in size we can add more elements
- Array is a homogenous(same type of items) while list are heterogenous it can store more than one type of items
- Python list are slower than array(speed of execution)
- Python list take more space in memory than array

In [3]:
a=2
print(id(2))# id function tells the address or memory location

1621384587600

- list me item k address store hote hai na ki item jiski vajah se ham kisi bhi type k item ko add ya modifi kr skte hai
- Dynamic array means, suppose u have 3 item then it creates 3 block in memory and when we add 4th element it creates double of the previous block and store the 4th element at the next to the prev element and repeat this process.
- when we store the memory location then during the accessing element it takes more time and space

In [4]:
L=[1,2,3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

1621472652928
1621384587568
1621384587600
1621384587632
1621384587568
1621384587600
1621384587632

### Creating list

In [11]:
# empty list
print([])

# 1d and homogenous list
print([1,2,3])

#2D heterogenous
print([1,2,3,[4,5]])

#3D and homogenous
print([[[1,2],[3,4]],[[5,6],[7,8]]])

#heterogenous
print([1,True,5.6,5+6j,'hello'])

#using type conversion
print(list('hello'))

[]
[1, 2, 3]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'hello']
['h', 'e', 'l', 'l', 'o']

### Accessing items from a list

In [18]:
#indexing --> Accessing the item on the basis of index
L=[1,2,3,4,5]
# positive indexing
print(L[2])
#Negative indexing
print(L[-1])
L1=[1,2,3,[4,5]]
print(L1[-1][-2])

L2=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(L2[1][0][0])
print(L2[0][0][1])

3
5
4
5
2

In [22]:
# slicing --> slicing of items means more than one item can be accessed at the same time
L=[1,2,3,4,5,6,7]
print(L[0:3])
print(L[-3:])
print(L[2:5:2])
print(L[::-1])# reverse the list

[1, 2, 3]
[5, 6, 7]
[3, 5]
[7, 6, 5, 4, 3, 2, 1]

### Adding element to a list

In [23]:
# append --> we can add only one element at the last in the list
L=[1,2,3,4,5]
L.append(6)
print(L)

[1, 2, 3, 4, 5, 6]

In [24]:
#extend --> multiple element can be added in the list
L=[1,2,3,4,5]
L.extend([6,8,9])
print(L)

[1, 2, 3, 4, 5, 6, 8, 9]

In [25]:
L=[1,2,3,4,5]
L.append([6,7,8])
print(L) # append only one element ko add krta hai

[1, 2, 3, 4, 5, [6, 7, 8]]

In [26]:
L=[1,2,3,4,5]
L.extend('Hello')
print(L) # extend added multiple element 1st string ko list me convert krke append kr diya

[1, 2, 3, 4, 5, 'H', 'e', 'l', 'l', 'o']

In [27]:
#inser --> Desired location pr add kr skte hai 1st index provide krna hai dusra value
L=[1,2,3,4,5]
L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

### Editting items in a list

In [31]:
L=[1,2,3,4,5]
# editting with indexing
L[-1]=300
#editting with slicing
L[1:4]=[200,400,600]
print(L)

[1, 200, 400, 600, 300]

### Deleting items from a list

Del()--> Delete the whole list or items of the list by providing the index of that item

In [32]:
L=[1,2,3,4,5]
print(L)
del L
print(L)# phle L print hua hai bad me not defined isliye qki delete ho chuka hai generally memory level pr delete nhi hota

[1, 2, 3, 4, 5]

NameError: name 'L' is not defined

In [35]:
L=[1,2,3,4,5]
# deleting by indexing
del L[2] # 3 delete ho jayega
print(L)
# deleting by slicing
print(L[1:3])

[1, 2, 4, 5]
[2, 4]

remove() --> remove the 1st occurance of element in the list

In [36]:
L=[1,2,3,4,5]
L.remove(5) # 5 ko remove krega by value not by index
print(L)

[1, 2, 3, 4]

In [37]:
# pop() --> delete the element if index provided else delete the last element of the list
L=[1,2,3,44,5]
L.pop(3)
print(L)

[1, 2, 3, 5]

In [38]:
L=[1,2,3,4,55]
L.pop()
print(L)

[1, 2, 3, 4]

In [40]:
# clear() --> clear the list and return the empty list
L=[1,2,3,4,5]
L.clear()
print(L)

[]

### Operations on lists

- Arithmetic operation --> +, *
- Membership operation --> IN and NOT IN 
- Loop

In [2]:
L1=[1,2,3,4]
L2=[5,6,7,8]
print(L1+L2)# + concate the list
print(L1*3) # * concate the list 3 times

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [4]:
L1=[1,2,3,4,5,6]
L2=[1,2,3,4,[5,6,7]]
print(5 in L1)
print(5 in L2)

True
False

In [5]:
L1=[1,2,3,4,5,6]
for i in L1:
    print(i)

1
2
3
4
5
6

### List functions

- len()-->
- min()--> return the min value from the list it work only when the items are homogenous
- max() -->
- sorted() --> by default sort in ascending order for reverse order provide reverse=True

In [9]:
L=[1,2,4,3,2]
print(len(L))
print(min(L)) 
print(max(L))
print(sorted(L))

5
1
4
[1, 2, 2, 3, 4]

In [11]:
#count --> return the frequency count of particular value
L=[1,2,3,1,4,5,1]
print(L.count(1))
print(L.count(3))

3
1

In [12]:
#index --> return the index of any value from the list
L=[2,4,1,6,91]
print(L.index(91))

4

In [14]:
# reverse --> reverse the list permanently
L=[2,3,41,54]
L.reverse()
print(L)

[54, 41, 3, 2]

In [15]:
# sort --> sort the list permanently while sorted do not change the original list
L=[3,2,4,6,7]
L.sort()
print(L)

[2, 3, 4, 6, 7]

In [16]:
#copy --> copy the address of list 
L=[2,1,5,7,0]
print(L)
print(id(L))
L1=L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
1876547403968
[2, 1, 5, 7, 0]
1876547413824

### List Comprehension

List comprehension provides a concise way of creating list
- newlist=[expression for item in iterable if condition==True]

#### Advantages of list comprehensions

- more time efficient and space efficient than loops
- Require fewer line of codes
- Transforms iterative statement into formula

Q.1 Add 1 to 10 numbers to a list

In [17]:
# using the loop
L=[]
for i in range(1,11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# using comprehension
L=[i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q.2 Scaler multiplication on a vector

In [20]:
v=[2,3,4,5]
s=-3

#using loop
x=[]
for i in v:
    x.append(i*s)
    
print(x)

#using comprehension
[s*i for i in v]

[-6, -9, -12, -15]

[-6, -9, -12, -15]

Q.3 Add squares of [1,2,3,4,5] to list

In [22]:
L=[1,2,3,4,5]
#using loop
r=[]
for i in L:
    r.append(i*i)
    
print(r)
# using list comprehension
[i*i for i in L]

[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Q.4 Print all the number divisible by 5 in the range of 1 to 50

In [24]:
#using loop
L=[]
for i in range(1,51):
    if i%5==0:
        L.append(i)
print(L)

#using comprehension
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Q.5 Find the languages started with letter p 

languages=['java','python','php','c','javascript']

In [25]:
languages=['java','python','php','c','javascript']
[lang for lang in languages if lang.startswith('p')]

['python', 'php']

Q.6 Nested if with list comprehension 

- add new list from my_fruits and items if the fruit exists in basket and also starts with a

In [26]:
basket=['apple','guava','cherry','banana']
my_fruits=['apple','kiwi','grapes','banana']

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

Q.7 Print a 3x3 matrix using a list comprehension --> Nested list comprehension

In [27]:
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

Q.8 Cartesian products --> list comprehension on 2 list together

In [30]:
L1=[1,2,3,4]
L2=[5,6,7,8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### 2 ways to traverse a list

Traversing a list by using loop in 2 ways are:
- itemwise
- indexwise

In [31]:
#itemwise
L=[1,2,3,5]
for i in L:
    print(i)

1
2
3
5

In [36]:
#indexwise
L=[4,6,8,0,1]
for i in range(0,len(L)):
    print(i,end='-') # return the index 
    print(L[i]) # return the value of indexes

0-4
1-6
2-8
3-0
4-1

### Zip()

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the 2nd item in each passed iterator are paired together.

if the passed iterators have different lengths, the iteraor with the list items decides the length of new iterator

Q.9 Write a program to add items of 2 lists indexwise

In [40]:
L1=[1,2,3,4]
L2=[-1,-2,-3,-4]
list(zip(L1,L2)) # return the pair of item as tuple inside a list 
[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

we can store built in function inside the list, python can contain any type of object

In [43]:
L=[1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001B4EAE568E0>>]

### Disadvantages of python list

- slow in comparison to other language
- risky usage because of list is mutable(changebale)
- eats up more memory because it stores the address of item

## 2. Tuple

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

#### Characterstic of tuples

- They are ordered
- They are indexed
- They are immutable(can't change)
- They can contain duplicate items

### Creating Tuples

In [51]:
#empty
t1=()
print(t1)
print(type(t1))

#create a tupel with signle item
t2=(2) # single item tuple k liye comma lgate hai tb ja k tuple bnta hai 
print(2)
print(type(t2)) # int

t3=(2,)
print(t3)
print(type(t3))

#homogenous tuple
t4=(1,2,3,4)
print(t4)

#heterogenous tuple
t5=(1,'hello',True,4.5)
print(t5)

#nested tuple or 2d tuple
t6=(1,2,3,(4,5))
print(t6)

#using type conversion
t7=tuple('hello')
print(t7)

()
<class 'tuple'>
2
<class 'int'>
(2,)
<class 'tuple'>
(1, 2, 3, 4)
(1, 'hello', True, 4.5)
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing items

- indexing
- slicing

In [59]:
#indexing
print(t4)
print(t4[0])
print(t4[-1])

#slicing
print(t4[:3])
t6[3][0]

(1, 2, 3, 4)
1
4
(1, 2, 3)

4

### Editting tuples

Since tuple is immutable so we can not change it like strings. strings and tuple both are immutable

In [62]:
t4[0]=100

TypeError: 'tuple' object does not support item assignment

### Adding items to a tuple

You can not add the items to a tuple since it is immutable

### Deleting items from a tuple

We can not delete the part of tuple but can delete whole tuple

In [66]:
t3=(1,2,3,4)
print(t3)
del t3
print(t3) # after deletion it can not be seen

(1, 2, 3, 4)

NameError: name 't3' is not defined

### Operations on tuples

- Arithmetic operation --> +, *
- Membership operation --> IN and NOT IN
- Loop --> for traversing the element of tuples

In [70]:
# Arithmetic operation
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2) # + do concatenation
print(t1*3) # concate it 3times

# membership operation
2 in t1

# loop
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuples function

- len() -->
- sum() -->
- min() -->
- max() -->
- sorted() -->

In [77]:
t1=(1,2,3,4,5,6)
print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))
print(sorted(t1,reverse=True))

6
21
1
6
[6, 5, 4, 3, 2, 1]

In [81]:
# count --> count the frequency of a number/items
t1=(1,2,5,7,8,9,1,3,5,7,1)
t1.count(1)

#index --> return the index of any value present in tuple
t1.index(7) #1st occurance ka index deta h

3

### Difference between lists and tuples

- Syntax --> To create list we used [] while for tuple ()
- Mutability --> List are mutable while tuple are immutable
- speed --> Generally tuples are faster than lists
- memory --> tuples takes lesser memory than lists
- built in functionality --> list have more built in function  than tuples
- Error prone --> List are more error prone while tuple are less
- usablity --> List are mutable while tuples are immutable

### Special syntax

In [82]:
# tuple unpacking
a,b,c=(2,5,6)
print(a,b,c)

2 5 6

In [83]:
#swaping of 2 number
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [85]:
a,b,*others=(1,2,3,4,5,6)
print(a,b)
print(others) # a,b assign ho jayenge start ki 2 value baki sare others me store ho jayenge aur return the list

1 2
[3, 4, 5, 6]

In [87]:
#zipping of tuples
a=(1,2,3,4)
b=(5,6,7,8)
tuple(zip(a,b)) # it returns the tuple of tuple

((1, 5), (2, 6), (3, 7), (4, 8))

## 3. Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unorderd --> Order does not matter
- Mutable --> 
- No duplicates
- Can't containe mutable data type inside the set

### Creating sets

In [93]:
#empty sets --> can't be created by using curly braces because it is a default behaviour of dictionary
s={}  # wrong method
s1=set() #right method of empty set
print(type(s))
print(type(s1))

#1d set
s2={1,2,3,4}
print(s2)
#2d set can't be created because inside the set we can't store mutable data type

#homogenous set
s3={2,3,4,5,6,7}
print(s3)
#heterogenous set
s4={1,'hello',4.5,(2,3,4)} # we add tuple in the set because tuple is immutable
print(s4)

#using type conversion
s5=set([1,2,3,4,5,6,7])
print(s5)

<class 'dict'>
<class 'set'>
{1, 2, 3, 4}
{2, 3, 4, 5, 6, 7}
{1, 4.5, 'hello', (2, 3, 4)}
{1, 2, 3, 4, 5, 6, 7}

### Accessing items in a set

Since sets are unordered thus we can not access item by doing indexing or slicing it means we can't access the item of sets

### Editting items in a set

Once item is stored in a set we can't access it and not edit it because it don't have indexing

### Adding items

In [95]:
# add --> it adds one item in set
s={1,2,3,4}
s.add(5)
print(s)

#update --> Adds more than one item in a set 
s.update([8,9,10])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8, 9, 10}

### Deleting items

In [103]:
#del -->we can delete entire set but a particular part of set can't be deleted
s={1,2,3,4}
print(s)
del s
#print(s)

#discard --> it delete the particular item from the set,if item is not present then it don't throw the error
s1={2,4,6,7,9}
s1.discard(7)
print(s1)

#remove --> remove the particular item from the set, if item is not present then it throw the error
s2={2,3,4,5,6,7,8}
s2.remove(4)
print(s2)

#pop --> deleted any random item from the set
s2.pop()
print(s2)

#clear --> it returns the empty set 
s2.clear()
print(s2)

{1, 2, 3, 4}
{2, 4, 6, 9}
{2, 3, 5, 6, 7, 8}
{3, 5, 6, 7, 8}
set()

### Set Operations

In [110]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#union --> | used for union s1|s2 means every item will be printed one time
print(s1|s2)

#intersection --> & used for intersection s1&s2 means common items will be printed
print(s1&s2)

#Difference --> - used for difference s1-s2 means s1 k sare items jo s2 me nhi hai wo print honge
print(s2-s1)
print(s1-s2)

#Symmetric difference(^) --> Jo item common hai usko chhodke sare item print ho jayenge
print(s1^s2)

#Membership set --> IN and NOT IN
1 in s1

#iteration --> loop 
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{8, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
1
2
3
4
5

### Sets functions

- len -->
- sum -->
- min -->
- max -->
- sorted -->

In [113]:
s={2,4,5,7,8,9}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
35
2
9
[2, 4, 5, 7, 8, 9]

In [121]:
# union /update --> 
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
print(s1.union(s2))
s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [122]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [123]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [124]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [1]:
# isdisjoint --> mathematically disjoint set aise hote hai jinme ek bhi item common nhi hota
s1 = {1,2,3,4}
s2 = {7,8,5,6}
#A pair of sets which does not have any common element are called disjoint sets.
s1.isdisjoint(s2)

True

In [3]:
#issubset --> s2 k sare element s1 me ho then it is called subset
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issubset(s2)

False

In [5]:
#issuperset --> s1 is superset of b because it contains the all items of s2 in s1 
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [6]:
#copy --> creates the shallow copy
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset

Frozen set is just an immutable version of a Python set objects

In [1]:
# create frozenset --> inside frozen set we can pass the list,tuple or set
fs=frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

- What works and what does not work in the case of frozenset
- Works --> all read function since frozenset is immutable
- does not work --> write operations

### Set comprehensions

In [2]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## 4. Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable --> Dictionary is mutable so we can change in it
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

In [11]:
# empty dictionary
d={}
print(type(d))

#1d dictionary and homogenous since items data type is string
dict = { 'name' : 'nitish'  , 'gender' : 'male' }
print(dict)

#1d dictionary with mixed key
d1={(1,2,3):1,'name':'abhinav'}
print(d1)

# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s)

<class 'dict'>
{'name': 'nitish', 'gender': 'male'}
{(1, 2, 3): 1, 'name': 'abhinav'}
{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [12]:
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
print(d4)

TypeError: 'dict' object is not callable

In [15]:
# duplicate keys --> last wala key value pair print krega qki duplicate key is not allowed
d5 = {'name':'nitish','name':'rahul'}
print(d5)

# mutable items as keys is not allowed as list
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'rahul'}
{'name': 'nitish', (1, 2, 3): 2}

### Accessing items from the dictionary

In [37]:
# by using the key
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict['name'])

# by using get method
print(my_dict.get('age'))

s['subjects']['maths']

Jack
26

67

### Adding key value pair

In [39]:
d4={'name':'abhinav'}
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

s['subjects']['ds']=89
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 89}}

In [24]:
s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [42]:
# pop --> by providing the key we can delete the key-value pair
d4={'name': 'abhinav', 'gender': 'male', 'weight': 72}
d4[3]=3
d4

d4.pop(3)
print(d4)

#popitem --> last wale key-value pair ko delete krta hai
d4.popitem()
print(d4)

#del --> entire dictionary ko bhi delete kr skte hai specific key-value pair ko bhi delete kr skte hai
d={'name': 'abhinav', 'gender': 'male', 'weight': 72}
d['course']='b.tech'
print(d)

del d['gender']
print(d)

#clear --> empty the dictionary
d.clear()
print(d)

#removing key-value pair from 2d dict
del s['subjects']['ds']
print(s)

{'name': 'abhinav', 'gender': 'male', 'weight': 72}
{'name': 'abhinav', 'gender': 'male'}
{'name': 'abhinav', 'gender': 'male', 'weight': 72, 'course': 'b.tech'}
{'name': 'abhinav', 'weight': 72, 'course': 'b.tech'}
{}
{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'english': 34}}

### Editting key-value pair

In [45]:
s={'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 89}}
s['sem']=8
print(s)

s['subjects']['maths']=90
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 8, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 89}}
{'name': 'nitish', 'college': 'bit', 'sem': 8, 'subjects': {'dsa': 50, 'maths': 90, 'english': 34, 'ds': 89}}

### Dictionary Operations

- Membership --> IN and NOT IN --> returns true if key present in dictionary we talk about only keys not values
- Iteration --> Loop

In [46]:
'name' in s

True

In [48]:
d={'name':'abhinav','gender':'male','age':23}
for i in d:
    print(i)# keys print krega
    print(d[i])

name
abhinav
gender
male
age
23

### Dictionary Functions

In [51]:
#len
d={'name':'abhinav','gender':'male','age':23}
print(len(d))

#sorted --> sort the key in ascending order
print(sorted(d))

#min/max --> return key on the basis of ASCII value

3
['age', 'gender', 'name']

In [55]:
#items/keys/values
print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'abhinav'), ('gender', 'male'), ('age', 23)])
dict_keys(['name', 'gender', 'age'])
dict_values(['abhinav', 'male', 23])

In [56]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehensions

{key : value for vars in iterable}

Q.10 Print 1st 10 numbers and their square

In [57]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [58]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [59]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [60]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [61]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [62]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}