Q.6 1/1!+ 2/2!+ 3/3! ... sequence sum till nth term

In [1]:
result=0
fact=1
n=int(input('Enter number n:'))
for i in range(1,n+1):
    fact=fact*i
    result=result+ i/fact
print(result)

Enter number n:3
2.5

# 13. Nested Loop

In [2]:
for i in range(1,3):
    for j in range(1,3):
        print(i,j)

1 1
1 2
2 1
2 2

To analyze the python program line by line check it on python tutor website.

Pattern.1

In [3]:
row=int(input('Enter the row number'))
for i in range(1,row+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter the row number3
*
**
***

Pattern.2

In [4]:
rows=int(input('Enter the number of rows'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter the number of rows3
1
12
123

Pattern.3

In [5]:
rows=int(input('Enter the number of rows'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

Enter the number of rows4
1
121
12321
1234321

# 14. Loop Control Statement

They control the execution of the loop
1. Break
2. Continue
3. Pass

In [6]:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

Q.7 Printing prime number between 2 given range

In [7]:
lower=int(input("Enter the lower value:"))
upper=int(input("Enter the upper value:"))
for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

Enter the lower value:10
Enter the upper value:40
11
13
17
19
23
29
31
37

Print the value from 1 to 10 except 4 continue--> continues the loop by excepting that condition while break stop the loop when the condition meet

In [8]:
for i in range(1,11):
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

# 15. String

 String is a collection of alphabets, words or other characters, 
 In python specifically, strings are a sequence of unicode characters
 
 1. Creating Strings
 2. Accessing Strings
 3. Adding chars to strings
 4. Editting Strings
 5. Deleting Strings
 6. Operation on Strings
 7. String Functions

### 15.1 Creating strings --> String can be created by using single,double and tripple inverted commas.

In [9]:
s='hello'
p="Abhinav"
#for multiline string we use tripple inverted commas
q='''Abhinav Kumar is pursuing for data science as carreer'''
r=str('Don')
print(s)
print(p)
print(q)
print(r)

hello
Abhinav
Abhinav Kumar is pursuing for data science as carreer
Don

In [10]:
print("it's raining outside")

it's raining outside

In [11]:
print('I have "Apple" to eat ')

I have "Apple" to eat

### 15.2 Accessing substrings from a string

1. Positive indexing--> when we create the string python internally give the index number of each character starting from 0(left to right)

2. Negative indexing-->When we create the string python internally do indexing from the right to left starting from -1

In [12]:
s="hello duniya"
s[3]
s[-1]

'a'

1. Slicing-->We can extract more than one character by using slicing, it took the range of index in square braces[0:5] index 5 is excluded

In [13]:
s='Namaste Duniya'
s[0:3]

'Nam'

In [14]:
s[2:]#we can skip first and last index it means it goes till the end from that index

'maste Duniya'

In [15]:
s[:6]

'Namast'

In [16]:
s[0:6:2]#we can give step size in this i have given 2--> simply jump

'Nms'

In [17]:
s[5:0:-1]#we can give step size as negative for accesing in reverse order

'tsama'

In [18]:
s[::-1]

'ayinuD etsamaN'

In [19]:
s[::2]

'NmseDny'

In [20]:
s[-1:-8:-1]

'ayinuD '

### 15.3 Editting and Deleting strings

Python strings are immutable i.e we can not change it after creating

In [21]:
s='hello world'
s[0] = 'H'
print(s)

TypeError: 'str' object does not support item assignment

In [ ]:
s='hello world'
del s
#Not print because I have deleted it earlier, we can delete whole string but part of string is not allowed since string is 
#immutable 
print(s)

### 15.4 Operations on String

1. Arithmetic operations-->+,* works only two operator in string
2. Relational operations --> ==,!=,>,>=,<,<= does work every operator for comparing the string
3. Logical operations
4. Loops on strings
5. Membership Operations

In [ ]:
print('delhi'+' '+'Mumbai')

In [ ]:
print('*'*30)

2. Relation Operator

In [ ]:
'delhi'!='delhi'

In [ ]:
'mumbai'>'pune'
#we do compare the string lexicographically

3. Logical operator

In [22]:
'hello' and 'world'

'world'

In [23]:
'hello' or 'world'

'hello'

Empty string is false and string is true on this basis we can go for the logical operation. when both are the string in the case of or,and while considering or it will give 1st string and considering the and give the 2nd string as world

In [24]:
' ' and 'world'

'world'

In [25]:
' 'or 'hello'

' '

4. Loops on strings

In [26]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [27]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

5. Membership operation --> IN, NOT IN

In [28]:
'D' in 'Delhi'

True

In [29]:
'D' not in 'Mumbai'

True

### 15.5 Common Function --> These function works on list,tuple,dictionary and set also.

1. len
2. min
3. max
4. sorted

In [30]:
len('hello world')

11

In [31]:
max('hello world')#return the max value on the basis of ascii value of that character

'w'

In [33]:
min('hello world')#return min ascii value of that character

' '

In [35]:
sorted('hello world')#return the list of all characters in ascending order

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [36]:
#to sort in descending order or in reverse order pass the attribute as reverse=True
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [37]:
#Capitalize--> string ka first character capital kr dega
s='hello world'
s.capitalize()

'Hello world'

In [38]:
#Title--> does the first letter of every word as capital
s.title()

'Hello World'

In [39]:
#upper--> convert all the letter as capital
s.upper()

'HELLO WORLD'

In [40]:
a='ABHINAV'
a.lower()#convert all the letter in small letter

'abhinav'

In [41]:
#swapcase--> convert the letter from lower to upper and vice versa
b='HellO WorLD'
b.swapcase()

'hELLo wORld'

In [42]:
#count--> return the frequency count of any character in the string
'my name is abhinav kumar'.count('a')

4

In [43]:
#find--> return the index of substring in the string
'my name is abhinav kumar'.find('is')

8

In [44]:
#index--> do the same as find but it will throw the error if substring is not present while in find it return 1
'my name is abhinav kumar'.index('is')

8

In [45]:
'my name is abhinav kumar'.find('x')

-1

In [46]:
#endswith--> it return true if string is ending with the substring provided
#startswith-->return true if string is starting with the substring provided
'my name is abhinav kumar'.endswith('ar')

True

In [47]:
'my name is abhinav kumar'.endswith('Ar')

False

Format-->

In [48]:
name='Abhinav'
gender='Male'
'my name is {} and I am {}'.format(name,gender)

'my name is Abhinav and I am Male'

In [51]:
#isalnum--> check the string is alphanumeric or not
a='abhi123'
a.isalnum()

True

In [52]:
b='234@3#'
b.isalnum()

False

In [53]:
#isalpha--> check the string is alphabetical or not
a='hello'
a.isalpha()

True

In [55]:
a='123'
a.isdigit()

True

In [56]:
'name1'.isidentifier()

True

In [57]:
'first_name'.isidentifier()

True

In [58]:
#split --> split the string and return the list of all word
'hi my name is abhinav kumar'.split()

['hi', 'my', 'name', 'is', 'abhinav', 'kumar']

In [59]:
#join --> join the word to make it complete sentence 
' '.join(['hi', 'my', 'name', 'is', 'abhinav', 'kumar'])

'hi my name is abhinav kumar'

In [60]:
"-".join(['hi', 'my', 'name', 'is', 'abhinav', 'kumar'])

'hi-my-name-is-abhinav-kumar'

In [61]:
#replace--> to replace the substring in the string
'my name is abhinav kumar'.replace('abhinav','Anurag')

'my name is Anurag kumar'

## Practice question on strings

1. Find the length of a given string without using len() function

In [62]:
s=input('Enter the string')
counter=0
for i in s:
    counter+=1
print('length of string is',counter)

Enter the stringhello world
length of string is 11

Q.2 Extract the username from the given email, eg. if the email is abhi2208@gmail.com then username should be abhi2208

In [64]:
s=input('Enter the email')
pos=s.index('@')
print(s[0:pos])

Enter the emailabhi@gmail.com
abhi

Q.3 Count the frequency of a particular character in a provided string, eg. 'hello how are you' is the string. The frequence of h in this string is 2

In [66]:
s=input('Enter the string:')
k=input('Enter the character which you want to search:')
counter=0
for i in s:
    if i==k:
        counter+=1
print('frequency of character in the string is',counter)

Enter the string:hello world
Enter the character which you want to search:l
frequency of character in the string is 3

Q.4 Write a program which can remove a particular character from the strings?

In [67]:
s=input('Enter the string:')
k=input('What would you like to seacrh:')
#because string is immutable so we can't change in that string so we will take an empty string
result=''
for i in s:
    if i!=k:
        result=result+i
print(result)

Enter the string:abhinav
What would you like to seacrh:a
bhinv

Q.5 Write a program that can check whether a given string is palindrome or not ? abba, malayalam,naman

In [70]:
s=input('Enter the string:')
flag=True
for i in range(0,len(s)//2):
    if s[i]!=s[len(s)-i-1]:
        flag=False
        print('Not a Palindrome')
        break
if flag:
    print('Palindrome')

Enter the string:abba
Palindrome

Q.6 Write a program to count the number of words in a string without split() function

In [71]:
s=input('Enter the string:')
L=[]
temp=''
for i in s:
    if i!=' ':
        temp=temp+i
    else:
        L.append(temp)
        temp=''
        
L.append(temp)
print(L)

Enter the string:hi how r you
['hi', 'how', 'r', 'you']

Q.7 Write a program to convert the string to titlecase without using title() function?

In [76]:
s=input('Enter the string:')
L=[]
for i in s.split():
    L.append(i[0].upper()+i[1:].lower())
print(' '.join(L))

Enter the string:hi how are you
Hi How Are You

Q.8 Write a program that can convert an integer to string?

In [77]:
number=int(input('Enter the digit'))
digits='0123456789'
result=''
while number!=0:
    result=digits[number%10]+result
    number=number//10
    
print(result)
print(type(result))

Enter the digit345
345
<class 'str'>